<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Madroños</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body class="body">

  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">MicroInov</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">

            <aside class="left-section">
              <span class="category"><input type="checkbox" class="btn-check" id="all" category="all">
                <label for="all">TODO</label>
              </span><br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Hidalgo" category="Hidalgo">
                <label for="Hidalgo">Hidalgo</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Sonora" category="Sonora">
                <label for="Sonora">Sonora</label>
              </span><br>
              <p class="text-warning bg-dark">Hábito</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Árbol" category="Árbol">
                <label for="Árbol">Árbol</label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="Arbusto" category="Arbusto">
                <label for="Arbusto">Arbusto, colonial o en manchones</label>
              </span> <br>
              <p class="text-warning bg-dark">Corteza de la parte alta del tronco y ramas principales</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <button id="apply_filter" type="button" class="btn btn-success">Aplicar filtro</button>
            </aside>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < madronos.length; i++) { %>
              <tr class="producto" category="all  <%= madronos[i].estados %> 
                                                  <%= madronos[i].habito %> 
                                                  <%= madronos[i].corteza_de_la_parte_alta_del_tronco_y_ramas_principales %> 
                                                  <%= madronos[i].corteza_de_ramillas %> 
                                                  <%= madronos[i].peciolos %> 
                                                  <%= madronos[i].hojas_enves %> 
                                                  <%= madronos[i].flores %> ">
                <td>
                  <%= i + 1%>
                </td>
                <td>
                  <strong>
                    <%= madronos[i].especie %>
                  </strong>
                </td>
                <td>
                  <a href="/madronos/info/_id/<%= madronos[i]._id %>" class="btn btn-succes">
                    Información
                  </a>
                </td>
              </tr>


              <% } %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  /*function buscar() {
    if (flexCheckDefault.checked == true) {
      window.location = "/madronos/estados/Hidalgo/"; 
    }
    if (flexCheckDefault.checked == false) {
      window.location = "/madronos/";

    }
  }*/
  // Buscador //

  $('#buscador').on('keypress', function (e) {
    if (e.keyCode == 13) {
      buscar();
    }
  });

  // Buscador //
  $('#button_search').on('click', function () {
    buscar();
  });

  // Casillas checkbox //
  $('.btn-check').prop('checked', true);
  $('#apply_filter').on('click', function () {
    $('.producto').hide();
    $('.btn-check:checked').each(function () {
      var input_category = $(this).attr('category');
      $('.producto[category*="' + input_category + '"]').show();
      $('.producto[category*="' + null + '"]').hide();


    });
  });

  $('#all').on('click', function () {

    if ($('#all').is(':checked')) {
      $('.btn-check:not(#all)').prop('checked', true);
    } else if ($('#all').not(':checked')) {
      $('.btn-check:not(#all)').prop('checked', false);
    }

  });
</script>

</html>