<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Madroños</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>

<body class="body">

  <nav class="navbar navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">MicroInov</a>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <aside class="left-section">
              <span class="category"><input type="checkbox" class="btn-check" id="all" category="all">
                <label for="all">TODO</label>
              </span><br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Aguascalientes"
                  category="Aguascalientes">
                <label for="Aguascalientes">Aguascalientes</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Baja California"
                  category="Baja California">
                <label for="Baja California">Baja California</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Baja California Sur"
                  category="Baja California Sur">
                <label for="Baja California Sur">Baja California Sur</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Chiapas" category="Chiapas">
                <label for="Chiapas">Chiapas</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Chihuahua" category="Chihuahua">
                <label for="Chihuahua">Chihuahua</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Ciudad de Mèxico"
                  category="Ciudad de Mèxicos">
                <label for="Ciudad de Mèxico">Ciudad de Mèxico</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Coahuila" category="Coahuila">
                <label for="Coahuila">Coahuila</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Colima" category="Colima">
                <label for="Colima">Colima</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Durango" category="Durango">
                <label for="Durango">Durango</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Estado de Mèxico"
                  category="Estado de Mèxico">
                <label for="Estado de Mèxico">Estado de Mèxico</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Guanajuato" category="Guanajuato">
                <label for="Guanajuato">Guanajuato</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Jalisco" category="Jalisco">
                <label for="Jalisco">Jalisco</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Michoacàn" category="Michoacàn">
                <label for="Michoacàn">Michoacàn</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Morelos" category="Morelos">
                <label for="Morelos">Morelos</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Nayarit" category="Nayarit">
                <label for="Nayarit">Nayarit</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Nuevo Leòn" category="Nuevo Leòn">
                <label for="Nuevo Leòn">Nuevo Leòn</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Oaxaca" category="Oaxaca">
                <label for="Oaxaca">Oaxaca</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Puebla" category="Puebla">
                <label for="Puebla">Puebla</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Querètaro" category="Querètaro">
                <label for="Querètaro">Querètaro</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Quintana Roo" category="Quintana Roo">
                <label for="Quintana Roo">Quintana Roo</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="San Luis Potosi"
                  category="San Luis Potosi">
                <label for="San Luis Potosi">San Luis Potosi</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Sinaloa" category="Sinaloa">
                <label for="Sinaloa">Sinaloa</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Sonora" category="Sonora">
                <label for="Sonora">Sonora</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Tabasco" category="Tabasco">
                <label for="Tabasco">Tabasco</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Tamaulipas" category="Tamaulipas">
                <label for="Tamaulipas">Tamaulipas</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Tlaxcala" category="Tlaxcala">
                <label for="Tlaxcala">Tlaxcala</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Veracruz" category="Veracruz">
                <label for="Veracruz">Veracruz</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Yucatàn" category="Yucatàn">
                <label for="Yucatàn">Yucatàn</label>
              </span><br>
              <span class="category"><input type="checkbox" class="btn-check" id="Zacatecas" category="Zacatecas">
                <label for="Zacatecas">Zacatecas</label>
              </span><br>
              <p class="text-warning bg-dark">Hábito</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Árbol" category="Árbol">
                <label for="Árbol">Árbol</label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="Arbusto" category="Arbusto">
                <label for="Arbusto">Arbusto, colonial o en manchones</label>
              </span> <br>
              <p class="text-warning bg-dark">Corteza de la parte alta del tronco y ramas principales</p>
              <span class="category"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante">Exfoliante, la corteza interior lisa en la parte alta del tronco y en las
                  ramas</label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="Persistente" category="Exfoliante">
                <label for="Exfoliante">Persistente, rugosa, gris (“leñosa”, con cáscara)

                </label>
              </span> <br>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <p class="text-warning bg-dark">Estados</p>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <span class="category"><input type="checkbox" class="btn-check" id="negro" category="negro">
                <label for="negro"></label>
              </span> <br>
              <button id="apply_filter" type="button" class="btn btn-success">Aplicar filtro</button>
            </aside>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>N°</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < madronos.length; i++) { %>
              <tr class="producto" category="all  <%= madronos[i].estados %> 
                                                  <%= madronos[i].habito %> 
                                                  <%= madronos[i].corteza_de_la_parte_alta_del_tronco_y_ramas_principales %> 
                                                  <%= madronos[i].corteza_de_ramillas %> 
                                                  <%= madronos[i].peciolos %> 
                                                  <%= madronos[i].hojas_enves %> 
                                                  <%= madronos[i].flores %> ">
                <td>
                  <%= i + 1%>
                </td>
                <td>
                  <strong>
                    <%= madronos[i].especie %>
                  </strong>
                </td>
                <td>
                  <a href="/madronos/info/_id/<%= madronos[i]._id %>" class="btn btn-succes">
                    Información
                  </a>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  // Buscador //
  $('#buscador').on('keypress', function (e) {
    if (e.keyCode == 13) {
      buscar();
    }
  });

  // Buscador //
  $('#button_search').on('click', function () {
    buscar();
  });

  // Casillas checkbox //
  $('.btn-check').prop('checked', true);
  $('#apply_filter').on('click', function () {
    $('.producto').hide();
    $('.btn-check:checked').each(function () {
      var input_category = $(this).attr('category');
      $('.producto[category*="' + input_category + '"]').show();
      $('.producto[category*="' + null + '"]').hide();
    });
  });

  $('#all').on('click', function () {
    if ($('#all').is(':checked')) {
      $('.btn-check:not(#all)').prop('checked', true);
    } else if ($('#all').not(':checked')) {
      $('.btn-check:not(#all)').prop('checked', false);
    }
  });

</script>

</html>