<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Madroños</title>
  <!-- BOOTSTRAP CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Style+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
    
</head>

<body class="body2">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 pt-3" id="up">
    <div class="container-fluid">
      <a class="navbar-brand titulo" size="30px" href="#">MicroInov</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse texto" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/madronos"><i class="fas fa-home"></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="/madronos/login"><i class="fas fa-sign-in-alt"></i>Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/madronos/glosario"><i class="fas fa-envelope"></i>Glosario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/madronos/nosotros"><i class="fas fa-users"></i>Nosotros</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/madronos">INICIO</a></li>
			</ol>
		</nav>
		<hr/>
	</div>

  <div class="container filtro">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <aside class="left-section">
              <span class="category"><input type="checkbox" class="btn-check" id="all" category="all">
                <label for="all" class="texto">TODO</label>
              </span><br>
              <p class="catgr subtitulos">Estados</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Aguascalientes" category="Aguascalientes">
                <label for="Aguascalientes">Aguascalientes</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Baja California" category="Baja California">
                <label for="Baja California">Baja California</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Baja California Sur" category="Baja California Sur">
                <label for="Baja California Sur">Baja California Sur</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Chiapas" category="Chiapas">
                <label for="Chiapas">Chiapas</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Chihuahua" category="Chihuahua">
                <label for="Chihuahua">Chihuahua</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Ciudad de México"  category="Ciudad de Mèxicos">
                <label for="Ciudad de México">Ciudad de México</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Coahuila" category="Coahuila">
                <label for="Coahuila">Coahuila</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Colima" category="Colima">
                <label for="Colima">Colima</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Durango" category="Durango">
                <label for="Durango">Durango</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Estado de México" category="Estado de México">
                <label for="Estado de México">Estado de Mèxico</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Guanajuato" category="Guanajuato">
                <label for="Guanajuato">Guanajuato</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Jalisco" category="Jalisco">
                <label for="Jalisco">Jalisco</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Michoacán" category="Michoacán">
                <label for="Michoacán">Michoacán</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Morelos" category="Morelos">
                <label for="Morelos">Morelos</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Nayarit" category="Nayarit">
                <label for="Nayarit">Nayarit</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Nuevo León" category="Nuevo León">
                <label for="Nuevo León">Nuevo León</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Oaxaca" category="Oaxaca">
                <label for="Oaxaca">Oaxaca</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Puebla" category="Puebla">
                <label for="Puebla">Puebla</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Querétaro" category="Querétaro">
                <label for="Querétaro">Querétaro</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Quintana Roo" category="Quintana Roo">
                <label for="Quintana Roo">Quintana Roo</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="San Luis Potosi" category="San Luis Potosi">
                <label for="San Luis Potosi">San Luis Potosi</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Sinaloa" category="Sinaloa">
                <label for="Sinaloa">Sinaloa</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Sonora" category="Sonora">
                <label for="Sonora">Sonora</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tabasco" category="Tabasco">
                <label for="Tabasco">Tabasco</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tamaulipas" category="Tamaulipas">
                <label for="Tamaulipas">Tamaulipas</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Tlaxcala" category="Tlaxcala">
                <label for="Tlaxcala">Tlaxcala</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Veracruz" category="Veracruz">
                <label for="Veracruz">Veracruz</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Yucatán" category="Yucatán">
                <label for="Yucatán">Yucatán</label>
              </span><br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Zacatecas" category="Zacatecas">
                <label for="Zacatecas">Zacatecas</label>
              </span><br>
              <p class="catgr subtitulos">Hábito</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Árbol" category="Árbol">
                <label for="Árbol">Árbol</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Arbusto" category="Arbusto">
                <label for="Arbusto">Arbusto, colonial o en manchones</label>
              </span> <br>
              <p class="catgr subtitulos">Corteza de la parte alta del tronco y ramas principales</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante">Exfoliante, la corteza interior lisa en la parte alta del tronco <br> y en las ramas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Persistente" category="Persistente">
                <label for="Persistente">Persistente, rugosa, gris (“leñosa”, con cáscara)</label>
              </span> <br>
              <p class="catgr subtitulos">Corteza de ramillas</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Exfoliante" category="Exfoliante">
                <label for="Exfoliante">Exfoliante en láminas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Rugosa" category="Rugosa">
                <label for="Rugosa">Rugosa delgada o exfoliante en láminas pequeñas</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Persistente" category="Persistente">
                <label for="Persistente">Persistente, rugosa (con cáscara)</label>
              </span> <br>
              <p class="catgr subtitulos">Pecíolos </p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Galabros" category="Galabros">
                <label for="Galabros">Glabros, lisos (sin pelos) o puberulentos (como con polvito)</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia pero sin glándulas [a veces con pelos <br> glandulares que no son evidentes</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pelos" category="Con pelos">
                <label for="Con pelos">Con pelos glandulares cortos (1.5 mm)</label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pelos" category="Con pelos">
                <label for="Con pelos">Con pelos glandulares largos (1-8 mm)</label>
              </span> <br>
              <p class="catgr subtitulos">Hojas envés</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Galabro" category="Galabro">
                <label for="Galabro">Glabro (sin pelos), toda la superficie verde es visible </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia espaciada, la superficie verde bien visible  </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia densa pero la superficie verde es visible    </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Con pubescencia" category="Con pubescencia">
                <label for="Con pubescencia">Con pubescencia densa que oculta totalmente lo verde del envés </label>
              </span> <br>
              <p class="catgr subtitulos">Flores</p>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Blancas a amarillentas" category="Blancas a amarillentas">
                <label for="Blancas a amarillentas">Blancas a amarillentas o verdosas </label>
              </span> <br>
              <span class="category texto"><input type="checkbox" class="btn-check" id="Rosas o blancas con tintes" category="Rosas o blancas con tintes">
                <label for="Rosas o blancas con tintes">Rosas o blancas con tintes rosas o rojizos (bicolor, mollis, occidentalis) </label>
              </span> <br>
              <a href="#up">
                <button id="apply_filter" type="button" class="btn btn-success texto">Aplicar filtro</button>
              </a>
            </aside>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th class="subtitulos">N°</th>
              <th class="subtitulos">Title</th>
              <th class="subtitulos"></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < madronos.length; i++) { %>
              <tr class="producto textotabla" category="all  <%= madronos[i].estados %> 
                                                  <%= madronos[i].habito %> 
                                                  <%= madronos[i].corteza_de_la_parte_alta_del_tronco_y_ramas_principales %> 
                                                  <%= madronos[i].corteza_de_ramillas %> 
                                                  <%= madronos[i].peciolos %> 
                                                  <%= madronos[i].hojas_enves %> 
                                                  <%= madronos[i].flores %> ">
                <td class="px-3">
                  <%= i + 1%>
                </td>
                <td class="px-3">
                  <strong>
                    <%= madronos[i].especie %>
                  </strong>
                </td>
                <td >
                  <a href="/madronos/info/_id/<%= madronos[i]._id %>" class="btn btn-succes textotabla">
                    Información
                  </a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer class="pb-2">
		<div class="card p-4">
			<div class="container">
				<div class="row text-secondary">
					<div class="col-4 text-center">
						<p class="fa fa-home fa-2x text-info" aria-hidden="true"></p>
						<br>
						<h5 class="text-info subtitulos">Dirección</h5>
						<p class="fs-4 textotabla2 text-dark"> Av.Revolucion #246
							<br>
							Colonia: San Jose de Buena Vista
						</p>
					</div>
					<div class="col-4 text-center">
						<p class="fa fa-whatsapp fa-2x text-success" aria-hidden="true"></p>
						<br>
						<h5 class="text-success subtitulos">Contáctanos</h5>
						<p class="fs-4 textotabla2 text-dark">+52 4651002344</p>
					</div>
					<div class="col-4 text-center">
						<a href="#">
							<p class="fa fa-instagram fa-2x text-danger textotabla" aria-hidden="true"></p>
						</a>
						<br>
						<h5 class="text-danger subtitulos">Siguenos en instagram</h5>
						<p class="textotabla2 text-dark">@Madronos_madronos</p>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center p-3 m-3 footerint textotabla" style="background: rgb(55, 122, 42) ">
			NoCopyRight &copy;
			<a href="">Madronos México</a>
		</div>
	</footer>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/444e1aeffa.js" crossorigin="anonymous"></script>

<script>
  // Buscador //
  $('#buscador').on('keypress', function (e) {
    if (e.keyCode == 13) {
      buscar();
    }
  });

  // Buscador //
  $('#button_search').on('click', function () {
    buscar();
  });

  // Casillas checkbox //
  $('.btn-check').prop('checked', true);
  $('#apply_filter').on('click', function () {
    $('.producto').hide();
    $('.btn-check:checked').each(function () {
      var input_category = $(this).attr('category');
      $('.producto[category*="' + input_category + '"]').show();
      $('.producto[category*="' + null + '"]').hide();
    });
  });

  $('#all').on('click', function () {
    if ($('#all').is(':checked')) {
      $('.btn-check:not(#all)').prop('checked', true);
    } else if ($('#all').not(':checked')) {
      $('.btn-check:not(#all)').prop('checked', false);
    }
  });

</script>

</html>